<section class="content">
     <div class="mainCover">    
  
        <div class="mainCoverInner" >
            <div class="textAreaCover" > 
            <div class="title" style="color:#62a545;font-size: 16px;">Hangout Seçimi</div>  
           
                  <table id="Table3" class="plainTable" >
                            <tr class="tableHeader">                            
                       <td width="20%">Zaman</td>
                                <td width="60%">
                                   Hangout Adı
                                </td>
                                <td width="20%">
                                Sorulan Soru Sayısı
                                </td>
                                
                            </tr>
                         <tbody id="serviceList" data-bind="foreach:topics()">
                            <tr class="tableRow row1" data-bind="click:$root.goQuestions">
                                <td><b data-bind="text:date"></b></td>
                                <td valign="top"  style="padding:5px;" data-bind="text:text" >

                                </td>
                                <td  valign="top"  style="padding-right:20px;" data-bind="text:questionCount">
                                
                                </td>                     
                                
                               
                            </tr> 
                          
                            </tbody>                   
                        </table>
                    
                        <div class="clear"></div>
            </div>
            
        </div>
             
            <div class="mainCoverInner"style="margin-top:5px;" >
                <div class="textAreaCover" >            
                 <div class="notes">
                    <div class="notesTitle"><b>Neler yapabilirisiniz</b></div>
                    <div class="note">• Silikon vadisindeki iş ve staj olanakları ile ilgili sorularınızı bu platform üzerinden etkinlik öncesinde iletebilir, oylamaya sunabilirsiniz.</div>
                    <div class="note">• İletilen soruları oylayarak en popüler soruların belirlenmesine katkı sağlayabilirsiniz.</div>
                    <div class="note">• Her katılımcının her soruyu 1 kere oylama hakkı var. Verdiğiniz oyu dilediğiniz zaman aynı butona tıklayarak geri alabilirsiniz.</div>
                    <div class="note">• SMS ifadesi soruların 160 karakterle sınırlı olmasından ileri geliyor.  Gerçek anlamda SMS gitmeyecek.</div>
                </div>	       
            </div>

             
            
        </div>
        



       
    </div>
    
</section>
