<section class="bgImgSettings">
    <img src="/Content/images/bgImage.png" />
</section>
<section class="homeContent">
    <div class="header"> 
        <div class="main">
            <div class="logo" data-bind="click:gotoRoot">
                <img width="137" height="43" src="/Content/images/loginLogo.png" />
            </div>
            <div class="title" style="margin-top:35px;color:#ffffff;font-size:26px; margin-left:280px;">Silikon Vadisi'ne SMS</div>
            <div class="userInfo">
                 <div class="notialert" >
                </div>
                <div class="notification" >
                    <img  src="/Content/images/btnNotification.png" />
                </div>              
                <div class="username">
                    <div class="text" data-bind="text:userInfo().fullName" ></div>
                </div>
                <div class="exit" >
                    <img src="/Content/images/btnExit.png" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
</section>
